* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav "
    "sidebar main main main"
    "sidebar Column1 Column2 Column3"
    "sidebar Footer Footer Footer";
  grid-gap: 0.2rem;
  font-family: sans-serif;
  font-size: 19px;
  text-align: center;
  font-style: italic;
  align-content: center;
  padding: 5px;
  color: lightyellow;
  position: relative;
}
nav {
  grid-area: nav;
  background-color: rgb(53, 199, 175);
  text-align: center;
}
main {
  grid-area: main;
  background-color: rgb(54, 78, 150);
}
.sidebar {
  grid-area: sidebar;
  background-color: rgb(35, 52, 109);
}
.Column1 {
  grid-area: Column1;
  background-color: rgb(28, 55, 141);
}

.Column2 {
  grid-area: Column2;
  background-color: rgb(41, 47, 139);
}

.Column3 {
  grid-area: Column3;
  background-color: rgb(38, 41, 138);
}
.Footer {
  grid-area: Footer;
  background-color: rgb(39, 133, 177);
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.8fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "Column1"
      "Column2"
      "Column3"
      "Footer";
  }
}
